@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Some Notification Application</h1>
</div>

<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h2>Inbound Messages</h2>
        <ul data-bind="foreach: inboundMessages">
            <li>
                From: <strong data-bind="text: from"></strong><br />
                To: <strong data-bind="text: to"></strong><br />
                Message: <strong data-bind="text: text"></strong><br />
                AccountId: <strong data-bind="text: accountId"></strong>
            </li>
        </ul>
        <h2>Delivered Messages</h2>
        <ul data-bind="foreach: deliveredMessages">
            <li>
                OccurredAt:<strong data-bind="text: occurredAt"></strong><br />
                MessageId:<strong data-bind="text: messageId"></strong><br />
                AccountId:<strong data-bind="text: accountId"></strong>
            </li>
        </ul>
    </section>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.signalR-2.1.1.js"></script>
<script src="~/Scripts/knockout-3.1.0.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/pushnotifications.js"></script>