@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Some Notification Application</h1>
</div>

<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h2>Inbound Messages</h2>
        <ul data-bind="foreach: inboundMessages">
            <li>
                From: <strong data-bind="text: from"></strong><br />
                To: <strong data-bind="text: to"></strong><br />
                Message: <strong data-bind="text: text"></strong><br />
                AccountId: <strong data-bind="text: accountId"></strong>
            </li>
        </ul>
        <h2>Delivered Messages</h2>
        <ul data-bind="foreach: deliveredMessages">
            <li>
                OccurredAt:<strong data-bind="text: occurredAt"></strong><br />
                MessageId:<strong data-bind="text: messageId"></strong><br />
                AccountId:<strong data-bind="text: accountId"></strong>
            </li>
        </ul>
        <h2>App Messages</h2>
        <ul data-bind="foreach: appMessages">
            <li>
                username:<strong data-bind="text: username"></strong><br/>
                account:<strong data-bind="text: account"></strong><br/>
                notificationType:<strong data-bind="text: notificationType"></strong><br/>
                id:<strong data-bind="text: id"></strong><br/>
                originator:<strong data-bind="text: originator"></strong><br/>
                recipient:<strong data-bind="text: recipient"></strong><br/>
                body:<strong data-bind="text: body"></strong><br/>
                type:<strong data-bind="text: type"></strong><br/>
                sentAt:<strong data-bind="text: sentAt"></strong><br/>
                receivedAt:<strong data-bind="text: receivedAt"></strong><br/>
            </li>
        </ul>
        <h2>OptOuts</h2>
        <ul data-bind="foreach: optOuts">
            <li>
                from:<strong data-bind="text: from"></strong><br />
                accountReference:<strong data-bind="text: accountReference"></strong><br />
                id:<strong data-bind="text: id"></strong><br />
                accountId:<strong data-bind="text: accountId"></strong><br />
            </li>
        </ul>
    </section>
</div>